# Created by .ignore support plugin (hsz.mobi)
### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

data/audio
data/audio_google
data/audio_google4alignment
data/audio_google_aligned
data/audio_google_original

.idea
__pycache__

models/google_hmm.pkl
models/google_hmm_wo_data.pkl
models/google_aligned_hmm.pkl
models/google_hmm_aligend_wo_data.pkl

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

